.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
  padding: 50px;
  background-color: #fff;
  margin-top: 4rem;

  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.infoContainer{
    display: flex;
    flex-direction: column;
}

.infoText{
    font-size:1.1rem;
    margin: 0.8rem;
}
