.nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.logo {
  display: flex;
  padding: 10px 10px 10px 25px;
}

.logoImg{
  height:3.3rem;
}

.about {
  color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.4s;
  font-size: 1.rem;
}
.about:hover {
  color: rgb(65, 65, 65);
}


.text { 
  margin: 0;
  font-size:25px;
  font-weight: 600;
  padding: 10px 10px 10px 15px;
  color: #000;
  transition: all 0.4s;
  
}

.text:hover {
  color: rgb(65, 65, 65);
}



